<button class="btn-block" (click)="turn()">Edit</button>
<div class="container" [style]="{ display: checkadd ? 'block' : 'none' }">
  <app-add-data (onAddData)="addData($event)"></app-add-data>
</div>

<kendo-switch class="mg-bot" [(ngModel)]="checked"></kendo-switch>
<kendo-grid
  [kendoGridBinding]="data"
  [pageSize]="5"
  [pageable]="true"
  [sortable]="true"
  [height]="400"
>
  <kendo-grid-column
    [headerStyle]="{ visibility: checked ? 'visible' : 'hidden' }"
    [style]="{ visibility: checked ? 'visible' : 'hidden' }"
    field="id"
    title="Id"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <span [style.color]="colorCode(dataItem.id)">
        {{ dataItem.id }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="age" title="Age"> </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="department" title="Department" class="no-padding">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span
        class="whole-cell"
        [style.backgroundColor]="colorDep(dataItem.department)"
      >
        {{ dataItem.department }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="salary" title="Salary"> </kendo-grid-column>
  <kendo-grid-column
    [headerStyle]="{ display: checkadd ? 'block' : 'none' }"
    [style]="{ display: checkadd ? 'block' : 'none' }"
    field="button"
    title="Edit"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <button (click)="onDelete(dataItem)">Delete</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
